<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="myapp.css" type="text/css"></link>
  <script src='vue.js'></script>
</head>
<body>

  <script type="application/lua" id="luaSource2">

STREAM_INPUT = "STREAM_IN"
STREAM_OUTPUT = "STREAM_OUT"
math.randomseed(1141)

{GENERATED_GET_STREAMS}

streams = get_streams()

-- Return array of objects, one for each stream.
print '['
for a,b in ipairs(streams) do
  -- e.g. STREAM_INPUT, "IN.A", 2, [...]
  str = '[';
  for e,f in ipairs(b[4]) do
    str = str .. string.format("%d,", f)
  end
  print(string.format("{ type: '%s', idx: %d, values: %s ] },", b[1], b[3], str))
end
print '];'
  </script>



<div class="wrapper">

  <div id="app1">
    <div class='textInputPanel'>
      <input v-model="g.puzzleName"
          maxlength="33"
          placeholder="Puzzle Name"/>
    </div>
    <div class='textInputPanel'>
      <div v-for='(description, index) in g.descriptions'
        v-bind:key='index'>
        <input v-model='description.text'
          maxlength="33"
          v-bind:placeholder='"Description Line " + (index + 1)'/>
      </div>
    </div>
  </div>

  <div id='app2'>
    <h3 class='nodes'>
      Node Configuration <button class='btn' v-on:click='resetNodes'>Reset</button>
    </h3>

    <div class='nodes'>
      <!-- 4 Input tick boxes -->
      <div v-for='n in 4'>
        IN
        <input type='checkbox' v-bind:value='n - 1'
          v-model='g.checkedInputs[n - 1].active'>
        <input class='streamName' type='text'
          v-model='g.checkedInputs[n - 1].name'
          v-if='g.checkedInputs[n - 1].active'>
      </div>
      <!-- 12 Node type boxes -->
      <tis-node v-for='(tile_obj, index) in g.tiles'
        v-bind:key=index
        v-bind:idx=index
        v-bind:type_idx=g.tiles[index]
        v-on:nodechanged='nodeChanged'>
      </tis-node>
      <!-- 4 Output tick boxes -->
      <div v-for='n in 4'>
        OUT
          <input type='checkbox' v-bind:value='n - 1'
              v-model='g.checkedOutputs[n - 1].active'>
          <input class='streamName' type='text'
            v-model='g.checkedOutputs[n - 1].name'
            v-if='g.checkedOutputs[n - 1].active'>
      </div>
    </div> <!-- class nodes div -->
  </div>

  <!-- Streams function -->
  <div id='app3'>
    <div><pre>function get_streams()
{{streamsVarsLua}}</pre></div>
    <div>
      <textarea v-model='bodyLua' rows='6' cols='50'>
      </textarea>
    </div>
    <div><pre>{{streamsReturnLua}}</pre></div>
    <div>
      <button class='btn' v-on:click='verifyLua'>Verify</button>
    </div>
    <div>{{g.puzzleName}}</div>
    <div>{{descriptionLua}}</div>
    <div>{{g.tiles}}</div>
  </div>

  <div id='app4'>
    <pre id='console' style='display:none'>
    </pre>
  </div>

</div>

<div id='app5'>
  <table>
    <tr v-for='(row, index) in tableData'>
      <td v-for='cell in row'>
        {{cell}}
      </td>
    </tr>
  </table>
</div>
<!--
  Configuration for starlight defined before we bring
  in the code.
-->
<script>
  // We use a global to hold the Lua console output.
  var outputEl = '';

  window.starlight = {
    config: {
      stdout: {
        writeln: function () {
          var args = Array.prototype.splice.call(arguments, 0);
          outputEl += args.join('\n');
        }
      }
    }
  };
</script>
<script src="starlight.js"></script>
<script src='lua_helper.js'></script>
<script src='components.js'></script>
<script src='main.js'></script>
</body>
</html>
