* {
  font-family: sans-serif;
}

h3.nodes {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
}

h3.nodes button {
  margin-left:auto;
}

div.nodes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(40px, auto);
  padding-left: 1em;
  padding-right: 1em;
}

div.nodes div {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  background-color: yellow;
  margin: 2px;
  text-align: center;
}

.nodes div.damaged {
  background-color: red;
}

div.node {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.wrapper {
  display: grid;
  grid-template-columns: 8fr 12fr 12fr;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper > div {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
}

input.tis-text {
}

.textInputPanel {
  padding: 10px;
}

.textInputPanel > div {
  margin-bottom: 3px;
}

.textInputPanel input {
  padding: 10px;
  width: 100%;
  padding:10px;
  font-size:14px;
  border: 1px solid;
  border-radius: 5px;
}

.btn {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #3498db;
  padding: 6px 12px 6px 12px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

input.streamName {
  width:5em;
  padding: 2px;
}

#app5 td {
  text-align: right;
  padding-left: 10px;
  padding-right: 10px;
}
